{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "parserOptions": {
    // Only ESLint 6.2.0 and later support ES2020.
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "node/file-extension-in-import": ["error", "always"],
    "node/prefer-global/buffer": ["error", "always"],
    "node/prefer-global/console": ["error", "always"],
    "node/prefer-global/process": ["error", "always"],
    "node/prefer-global/url-search-params": ["error", "always"],
    "node/prefer-global/url": ["error", "always"],
    "node/prefer-promises/dns": "error",
    "node/prefer-promises/fs": "error",
    "node/no-unsupported-features/es-syntax": [
      "error",
      {"ignores": ["modules"]}
    ]
  },
  "env": {
    "jest": true,
    "node": true
  },
  "settings": {
    "node": {
      "tryExtensions": [".js", ".json", ".node", ".ts", ".d.ts"]
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint", "import"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "eslint-config-prettier",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaversion": 2021,
        "sourceType": "module"
      },
      "settings": {
        "import/extensions": [".js", ".ts", ".tsx"],
        "import/parsers": {
          "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
          "node": {
            "extensions": [".js", ".ts", ".tsx"]
          }
        }
      },
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "strict": ["error", "never"],
        "@typescript-eslint/no-use-before-define": ["error"],
        "no-console": [
          "error",
          {
            "allow": ["warn", "error"]
          }
        ],
        "multiline-ternary": 0,
        "no-unused-vars": "off",
        "no-shadow": 0,
        "@typescript-eslint/no-unused-vars": "error",
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "error",
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
        ],
        "max-len": [
          "warn",
          {
            "code": 80,
            "tabWidth": 2,
            "comments": 80,
            "ignoreComments": false,
            "ignoreTrailingComments": true,
            "ignoreUrls": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
          }
        ]
      }
    }
  ]
}
